html {
    font-family: sans-serif;
}


code {
    font-family: Consolas,"courier new";
    padding: 2px;
    /* font-size: 105%; */
  }

body {
    
    max-width: 1000px;
    margin: auto;
}

header {
    background: orangered;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article, footer {
    padding: 10px;
    margin: 10px;
    background: white;
}

.output {
    padding: 10px;
    transition: 0.5s;
}

.dropzone {
    padding: 50px;
    border-radius: 10px;
    border: 5px solid grey;
    background-color: rgb(177, 177, 177);
    
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}

/* todo add some fade */

.dropzone > .selector {
    color: white;
    font-weight:bolder;
}

.dropzone > .mouse-on {
    color: orangered;
}

.drop-enter {
    background-color: orangered;
}
